*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 2px solid black;
    
}

header{
 
    display:flex;
    align-items: center;
    padding: 7px 0;
    justify-content: center;
    
}
.main{
    display: flex;
    flex-direction: column;
}
.box1{
    width: 100%;
    height: 200px;
    background-color: rgb(214, 170, 23);
    display: flex;
    flex-direction: column;
    align-items: center;
      
}
.box1-bx1{
  height: 50%;
}

.box1-bx2{
    height: 50%;
    font-size: 30px;
  }

.box2{
    width: 100%;
    height: 200px;
    background-color: rgb(177, 179, 179);
    position: relative;
    color:black;
    display: flex;
    flex-direction: column;
    
    
}

.box11{
    display: flex;
    flex-grow: 1;
}
.box2-bx1{
    flex-grow: 1;

}
.box2-bx11{
    width: 60px;
    height: 60px;
    background-color: rgb(184, 226, 245);

    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}
.box2-bx12{
    width: 60px;
    height: 60px;
    background-color: rgb(184, 226, 245);

    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}
.box2-bx2{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
 

}
.box12{
    display: flex;
    flex-grow: 1;
}
.box2-bx3{
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}
.box2-bx4{
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
}
.box2-bx13{
    width: 60px;
    height: 60px;
    background-color: rgb(184, 226, 245);

    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}
.box2-bx14{
    width: 60px;
    height: 60px;
    background-color: rgb(184, 226, 245);

    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
/* .box2-bx1{
  
    width: 60px;
    height: 60px;
    background-color: rgb(184, 226, 245);

    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    
} */


.box13{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 30px;
}
.box3{

    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
.box3-bx1{
    /* flex-grow: 1; */
    flex-grow: 0;
    flex-basis: 70px;
    flex-shrink: 1;
    height: 70px;
    background-color: rgb(219, 223, 223);
    /* margin:25px */
}
.box3-bx2{
    /* flex-grow: 1; */
    flex-grow: 0;
    flex-basis: 70px;
    flex-shrink: 1;
    height: 70px;
    background-color: rgb(219, 223, 223);
    /* margin:25px */
}
.box3-bx3{
    /* flex-grow: 1; */
    flex-grow: 0;
    flex-basis: 70px;
    flex-shrink: 1;
    height: 70px;
    background-color: rgb(219, 223, 223);
    /* margin:25px */
}
.bo3{
    background-color: rgb(68, 169, 63);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}
.bo3-bx1{
    display: flex;
   
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
input{
    margin: 10px;
    padding: 3px;
}