*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

header{
 
    display:flex;
    align-items: center;
    padding: 7px 0;
    justify-content: center;
    border: 2px solid black;
}
.main{
    display: flex;
    flex-direction: column;
    
}
.box1{
    display: flex;
}


.bx1-one{
    height: 300px;
  
    flex-grow: 1;
    background-color: rgb(146, 205, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.b1ch1{
    width: 110px;
    flex-basis: 90px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(179, 176, 176);
    margin-top: 15px;
    
    
}
.ch1{
    width: 90px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bx1-two{
    height: 300px;
    flex-basis: 50%;
    background-color: rgb(115, 208, 179);
    display: flex;
    flex-direction: column;
    border: 1px solid black;
   
}
.b1ch2{
    background-color: blanchedalmond;

    width: 93%;
    height: 80%;
    display: flex;
    margin: auto;
   
    justify-content: center;
    align-items: center;
}

.ch2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
}
.box2{
    display: flex;
}
.bx2-one{
    height: 300px;
    flex-basis: 50%;
    background-color:  blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
}
.b2ch1{
    width: auto;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.b2ch11{
    width: 110px;
    height: 90px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.ch3{
    width: 90px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;

}

.bx2-two{
    height: 300px;
    flex-basis: 50%;
    background-color: rgb(209, 190, 209);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.b2ch2{
    width: 110px;
    flex-basis: 90px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.ch4{
   height: 40%;
   margin: 0;
    padding: 0;
}



@media screen and (max-width:1024px) {
    *{
        box-sizing: border-box;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        margin: 0;
        
    }
    
    header{
     
        display:flex;
        align-items: center;
        padding: 7px 0;
        justify-content: center;
        border: 2px solid black;
    }
    .main{
        display: flex;
        flex-direction: column;
        
    }
    .box1{
        display: flex;
    }
    
    
    .bx1-one{
        height: 300px;
      
        flex-grow: 1;
        background-color: rgb(146, 205, 230);
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
    }
    .b1ch1{
        width: 90px;
        flex-basis: 70px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(179, 176, 176);
        margin-top: 15px;
        
        
    }
    .ch1{
        width: 90px;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bx1-two{
        height: 300px;
        flex-basis: 50%;
        background-color: rgb(115, 208, 179);
        display: flex;
        flex-direction: column;
        border: 1px solid black;
       
    }
    .b1ch2{
        background-color: blanchedalmond;
    
        width:95%;
        height: 80%;
        display: flex;
        margin: auto;
       
        justify-content: center;
        align-items: center;
    }
    
    .ch2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        font-size: 30px;
    }
    .box2{
        display: flex;
    }
    .bx2-one{
        height: 300px;
        flex-basis: 50%;
        background-color:  blanchedalmond;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border: 1px solid black;
    }
    .b2ch1{
        width: 90px;
        height: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
    }
    .b2ch11{
        width: 90px;
        height: 70px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .ch3{
        width: 90px;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        font-size: 30px;
    
    }
    
    .bx2-two{
        height: 300px;
        flex-basis: 50%;
        background-color: rgb(209, 190, 209);
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .b2ch2{
        width: 90px;
        height: 70px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        
    }
    .ch4{
       height: 40%;
       margin: 0;
        padding: 0;
    }
    
}





@media screen and (max-width:480px) {

    *{
        box-sizing: border-box;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        margin: 0;
        
    }
    
    header{
     
        display:flex;
        align-items: center;
        padding: 7px 0;
        justify-content: center;
        border: 2px solid rgb(223, 47, 47);
    }
    .main{
        display: flex;
        flex-direction: column;
        
    }
    .box1{
        display: flex;
        flex-wrap: wrap;
    }
    
    
    .bx1-one{
        height: 300px;
      
        flex-basis: 480px;
        background-color: rgb(146, 205, 230);
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid black;
    }
    .b1ch1{
        width: 70px;
        flex-basis:50px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(179, 176, 176);
        margin-top: 15px;
        
        
    }
    .ch1{
        width: 90px;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bx1-two{
        height: 300px;
        flex-basis: 480px;
        background-color: rgb(115, 208, 179);
        display: flex;
        flex-direction: column;
        border: 1px solid black;
       
    }
    .b1ch2{
        background-color: blanchedalmond;
    
        width: auto;
        height: 80%;
        display: flex;
        margin: auto;
       
        justify-content: center;
        align-items: center;
    }
    
    .ch2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        font-size: 30px;
    }
    .box2{
        display: flex;
        flex-wrap: wrap;
    }
    .bx2-one{
        height: 300px;
        flex-basis: 480px;
        background-color:  blanchedalmond;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        border: 1px solid black;
    }
    .b2ch1{
        width: 90px;
        height: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
    }
    .b2ch11{
        height: 50px;
        flex-basis:70px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .ch3{
        width: 90px;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        font-size: 30px;
    
    }
    
    .bx2-two{
        height: 300px;
        flex-basis: 480px;
        background-color: rgb(209, 190, 209);
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .b2ch2{
        width: 70px;
        flex-basis:50px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        
    }
    .ch4{
       height: 40%;
       margin: 0;
        padding: 0;
    }
    
}